html {
  max-width: 1500px;
  margin: 0 auto;
  font-size: 62.5%; }

body {
  font-family: "Quicksand";
  background: #f9f9f9;
  color: #333;
  position: relative; }

html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1,
h2,
h3 {
  font-weight: normal;
  color: #555; }

p {
  padding: 5px; }

a {
  text-decoration: none; }

button {
  font-weight: bold; }

.center {
  margin: 0 auto !important;
  -ms-flex-preferred-size: auto !important;
      flex-basis: auto !important;
  max-width: 600px !important;
  width: 95%;
  text-align: center; }

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.button {
  padding: 15px 35px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-family: 'Quicksand';
  cursor: pointer;
  margin: 20px 0;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.08); }
  .button--main {
    color: #fff;
    background: -webkit-gradient(linear, left top, right bottom, from(#f0949d), to(#e85663));
    background: -webkit-linear-gradient(left top, #f0949d, #e85663);
    background: -o-linear-gradient(left top, #f0949d, #e85663);
    background: linear-gradient(to right bottom, #f0949d, #e85663); }
  .button--small {
    padding: 5px 10px;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .button--small-solid {
      background: #817bd8;
      color: #fff; }
    .button--small-outlined {
      background: none;
      border: 1px solid #817bd8;
      color: #817bd8; }
  .button a {
    color: inherit;
    font-weight: 100; }

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto 90px auto;
  width: 90%; }
  @media (max-width: 925px) {
    .project {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 0 auto 50px auto;
      text-align: center; } }
  .project:last-child {
    margin-bottom: 0; }
  .project__title-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    text-align: right; }
    @media (max-width: 925px) {
      .project__title-wrapper {
        margin: 0 auto 10px auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  .project__text {
    margin: 0 0 0 50px; }
    @media (max-width: 925px) {
      .project__text {
        margin: 0; } }
  .project__title {
    font-size: 2.2rem;
    margin-bottom: 10px;
    font-weight: bold; }
    @media (max-width: 925px) {
      .project__title {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0; } }
  .project span {
    display: inline-block;
    background: #dedede;
    color: #333;
    padding: 2px 10px;
    border-radius: 50px;
    margin: 2px;
    font-size: 1.4rem; }
  .project p {
    font-size: 2rem;
    line-height: 1.4;
    color: #777;
    font-family: 'Roboto';
    padding: 0;
    margin: 0 0 15px 0;
    width: 100%; }
  .project__btns button {
    margin: 15px 5px 0 0;
    font-size: 1.4rem; }

form {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  form input,
  form textarea {
    font-family: "Quicksand";
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 2em;
    margin: 5px;
    border: none;
    border-bottom: 2px solid #eee; }
  form input {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
    margin-bottom: 10px; }
    @media (max-width: 925px) {
      form input {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%; } }
  form textarea {
    height: 150px;
    resize: none;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  form .button {
    margin-bottom: 0; }

.navbar {
  font-size: 1.8rem;
  padding: 50px;
  z-index: 999;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 925px) {
    .navbar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 25px;
      background: #222;
      margin-bottom: 50px;
      font-size: 1.8rem; } }
  .navbar ul {
    list-style: none; }
  .navbar li,
  .navbar span {
    font-weight: 600;
    display: inline-block; }
  .navbar__logo {
    margin-right: auto;
    height: 35px; }
    .navbar__logo-mobile {
      display: none; }
    @media (max-width: 925px) {
      .navbar__logo {
        display: none; }
        .navbar__logo-mobile {
          display: block;
          margin: 0 0 20px 0;
          height: 40px; } }
    .navbar__logo img {
      height: 100%; }
  .navbar__link {
    margin-right: 35px;
    position: relative; }
    .navbar__link a {
      text-decoration: none;
      color: #adadad; }
    .navbar__link:last-child {
      margin: 0; }
    .navbar__link:hover a {
      color: #817bd8; }
    .navbar__link:hover:after {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      background: #817bd8; }
    .navbar__link:after {
      position: absolute;
      content: '';
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background: #777;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0); }
    @media (max-width: 925px) {
      .navbar__link {
        color: #777; } }

.hero {
  margin: 50px 50px 100px;
  color: #555; }
  @media (max-width: 925px) {
    .hero {
      margin: 90px 20px;
      background: none;
      background-size: cover; } }
  .hero__text {
    margin: 0 auto;
    color: inherit;
    text-align: center;
    max-width: 950px;
    width: 95%; }
    @media (max-width: 925px) {
      .hero__text {
        max-width: 550px;
        width: 100%;
        margin: 0 auto;
        text-align: center; } }
  .hero__heading {
    font-size: 4.5rem;
    font-weight: bold; }
    @media (max-width: 925px) {
      .hero__heading {
        font-size: 3.7rem; } }
  .hero__sub-heading {
    font-size: 2.8em;
    line-height: 1.4;
    color: #777;
    font-family: 'Roboto';
    width: 65%;
    margin: 15px auto 45px auto;
    font-family: 'Lato'; }
    @media (max-width: 925px) {
      .hero__sub-heading {
        margin: 0 auto 25px auto;
        width: 95%; } }
  .hero__button {
    display: inline-block;
    margin: 15px 0;
    color: #eee;
    font-weight: bold; }

.fancy {
  color: #817bd8;
  font-family: "Grand Hotel";
  font-size: 1.2em;
  font-weight: normal; }

@media (max-width: 925px) {
  #br {
    display: none; } }

.main {
  display: block;
  margin: 120px 90px; }
  @media (max-width: 925px) {
    .main {
      margin: 90px 35px; } }
  .main section {
    margin-bottom: 120px; }
  .main__heading {
    font-size: 2.8rem;
    margin-bottom: 90px !important;
    font-weight: bold; }
    @media (max-width: 925px) {
      .main__heading {
        margin-bottom: 50px !important; } }
  .main__para {
    font-size: 2em;
    line-height: 1.4;
    color: #777;
    font-family: 'Roboto'; }
    @media (max-width: 925px) {
      .main__para {
        padding: 5px 0; } }

.technologies {
  background: -webkit-linear-gradient(339deg, #6c63ff 25.05%, #6159e5 67.1%);
  background: -o-linear-gradient(339deg, #6c63ff 25.05%, #6159e5 67.1%);
  background: linear-gradient(111deg, #6c63ff 25.05%, #6159e5 67.1%);
  color: #f3f3f3;
  text-align: center;
  padding: 90px;
  position: relative; }
  @media (max-width: 925px) {
    .technologies {
      padding: 50px; } }
  .technologies__heading {
    font-size: 28px;
    opacity: 0.75;
    color: #fff; }
  .technologies__icons {
    margin: 75px 0 0;
    font-size: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media (max-width: 925px) {
      .technologies__icons {
        margin: 50px 0 0; } }
  .technologies:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent; }
  .technologies .fab {
    margin: 0 15px; }

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  @media (max-width: 925px) {
    .services__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.service {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%; }
  @media (max-width: 925px) {
    .service {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      margin-bottom: 50px; } }
  .service:last-child {
    margin-bottom: 0; }
  .service__heading {
    font-size: 2.2rem;
    margin: 15px;
    font-weight: bold; }
  .service p {
    font-size: 2rem;
    line-height: 1.4;
    color: #777;
    font-family: 'Roboto'; }

.footer {
  text-align: center;
  position: relative; }
  @media (max-width: 925px) {
    .footer {
      margin-top: 90px; } }
  .footer__bg {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: -webkit-linear-gradient(339deg, #6c63ff 25.05%, #6159e5 67.1%);
    background: -o-linear-gradient(339deg, #6c63ff 25.05%, #6159e5 67.1%);
    background: linear-gradient(111deg, #6c63ff 25.05%, #6159e5 67.1%);
    -webkit-clip-path: polygon(0 0, 100% 150px, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 150px, 100% 100%, 0 100%);
    z-index: -1; }
  .footer__text-wrapper {
    background: #fff;
    padding: 75px;
    max-width: 900px;
    width: 95%;
    margin: 0 auto;
    -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative; }
    @media (max-width: 925px) {
      .footer__text-wrapper {
        padding: 50px 20px 90px 20px;
        max-width: 550px; } }
  .footer__heading {
    font-size: 2.8rem;
    color: #555;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; }
  .footer__para {
    font-size: 2.2em;
    line-height: 1.4;
    color: #777;
    font-family: 'Roboto';
    margin: 0 auto 50px auto;
    width: 65%;
    text-align: center;
    font-family: 'Lato'; }
    @media (max-width: 925px) {
      .footer__para {
        width: 90%; } }
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 50px auto 0 auto;
    padding: 10px 0;
    max-width: 500px; }
  .footer__icon {
    font-size: 2.7em;
    padding: 15px;
    color: #eee;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .footer__icon:hover {
      -webkit-transform: scale(1.3);
          -ms-transform: scale(1.3);
              transform: scale(1.3); }
  .footer__btn {
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .footer a:last-child .footer__icon {
    margin-right: 0; }
