html {
  margin: 0 auto;
  font-size: 62.5%;
}

body {
  font-family: "Quicksand";
  background: #f9f9f9;
  color: #4b4b4b;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h3 {
  font-weight: 700;
}

p {
  padding: 5px;
}

a {
  text-decoration: none;
}

button {
  font-weight: bold;
}

.center {
  margin: 0 auto !important;
  -ms-flex-preferred-size: auto !important;
      flex-basis: auto !important;
  max-width: 600px !important;
  width: 95%;
  text-align: center;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.go-top {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: #ff637c;
  position: fixed;
  bottom: 25px;
  right: 25px;
  text-align: center;
  line-height: 45px;
  font-size: 1.5rem;
  color: #fff;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  cursor: pointer;
}

.show-go-top {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.mobile-break {
  display: none;
}

@media (max-width: 925px) {
  .mobile-break {
    display: block;
  }
}

.button {
  display: inline-block;
  padding: 15px 35px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-family: 'Quicksand';
  cursor: pointer;
  margin: 20px 0;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(52, 52, 52, 0.08);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(52, 52, 52, 0.08);
  font-weight: bold;
}

.button--main {
  color: #fff;
  background: #ff637c;
}

.button--small {
  padding: 5px 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #8e44ad;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.button--small:hover {
  background: #612e76;
  border: 2px solid #612e76;
  color: #fff;
}

.button--small-solid {
  background: #8e44ad;
  color: #fff;
}

.button--small-outlined {
  background: none;
  color: #8e44ad;
}

.button a {
  color: inherit;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto 90px auto;
}

@media (max-width: 925px) {
  .project {
    display: block;
    margin: 0 auto 50px auto;
    text-align: center;
    max-width: 500px;
  }
}

.project:last-child {
  margin-bottom: 0;
}

.project__title-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  padding-left: 10px;
  border-left: 3px solid #eee;
}

@media (max-width: 925px) {
  .project__title-wrapper {
    margin: 0 auto 10px auto;
    text-align: center;
    border: none;
  }
}

.project__text {
  margin: 0 0 0 65px;
}

@media (max-width: 925px) {
  .project__text {
    margin: 0;
  }
}

.project__title {
  font-size: 2.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

@media (max-width: 925px) {
  .project__title {
    display: block;
    margin: 0 0 10px;
  }
}

.project span {
  display: inline-block;
  background: #e8e8e8;
  color: #333;
  font-family: 'Roboto';
  padding: 2px 10px;
  border-radius: 50px;
  margin: 5px 2px;
  font-size: 1.4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.project p {
  font-size: 2rem;
  line-height: 1.4;
  font-family: 'Roboto';
  padding: 0;
  margin: 0 0 15px 0;
  width: 100%;
}

.project__btns a {
  margin: 15px 5px 0 0;
  font-size: 1.4rem;
}

.form {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form-group {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}

@media (max-width: 925px) {
  .form-group {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.form input + label, .form textarea + label {
  position: absolute;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #999;
}

.form input + label {
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form textarea + label {
  left: 30px;
  top: 55px;
}

.form input:focus + label,
.form input.notEmpty + label,
.form textarea:focus + label,
.form textarea.notEmpty + label {
  font-size: 1.3rem;
  -webkit-transform: translate(-10px, -50px);
      -ms-transform: translate(-10px, -50px);
          transform: translate(-10px, -50px);
  color: #8e44ad;
  font-weight: bold;
}

.form input,
.form textarea {
  font-family: "Quicksand";
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 2rem;
  margin: 25px 5px;
  border: none;
  border-bottom: 2px solid #eee;
  outline: none;
}

@media (max-width: 925px) {
  .form input,
  .form textarea {
    margin: 15px 5px;
  }
}

.form input:focus,
.form textarea:focus {
  border-bottom: 2px solid #8e44ad;
}

.form textarea {
  height: 150px;
  resize: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.form .button {
  margin-bottom: 0;
}

.msg {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.85);
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
}

.msg .far {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.error {
  background: #ec7580;
}

.success {
  background: #8e44ad;
}

.navbar {
  font-size: 1.6rem;
  padding: 50px;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: bold;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 925px) {
  .navbar .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 925px) {
  .navbar {
    padding: 25px;
    background: #f9f9f9;
    margin-bottom: 50px;
    font-size: 1.8rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px -10px;
            box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px -10px;
  }
}

.navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar li,
.navbar span {
  font-weight: 600;
  display: inline-block;
}

.navbar__logo {
  margin-right: auto;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 925px) {
  .navbar__logo {
    display: block;
    margin: 0 0 20px 0;
    height: 40px;
  }
}

.navbar__logo img {
  height: 30px;
  margin-right: 5px;
}

@media (max-width: 925px) {
  .navbar__logo img {
    height: 100%;
    margin-right: 0;
  }
}

.navbar__logo p {
  font-size: 1.6rem;
  font-family: 'Quicksand';
  color: #8e44ad;
}

@media (max-width: 925px) {
  .navbar__logo p {
    display: none;
  }
}

.navbar__link {
  margin-right: 35px;
  position: relative;
  -webkit-transition: width 0.05s;
  -o-transition: width 0.05s;
  transition: width 0.05s;
}

.navbar__link a {
  text-decoration: none;
  color: inherit;
}

.navbar__link:last-child {
  margin: 0;
}

@media (hover: hover) {
  .navbar__link:hover:not(.contact):after {
    width: 100%;
    background: #8e44ad;
  }
  .navbar__link:hover:not(.contact) a {
    color: #8e44ad;
  }
}

.navbar__link:after {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 0;
  height: 2px;
  background: #8e44ad;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  width: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media (max-width: 925px) {
  .navbar__link {
    color: #333;
  }
}

.navbar__contact {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 10px 20px;
  border-radius: 50px;
  color: #8e44ad !important;
  border: 2px solid #8e44ad;
  background: -webkit-linear-gradient(45deg, #8e44ad 50%, transparent 50%);
  background: -o-linear-gradient(45deg, #8e44ad 50%, transparent 50%);
  background: linear-gradient(45deg, #8e44ad 50%, transparent 50%);
  background-size: 300%;
  background-position: 100%;
  -webkit-transition: background-position 0.5s;
  -o-transition: background-position 0.5s;
  transition: background-position 0.5s;
}

@media (max-width: 925px) {
  .navbar__contact {
    padding: 0;
    color: #555 !important;
    border: none;
  }
}

@media (hover: hover) {
  .navbar__contact:hover {
    color: #fff !important;
    background-position: 0;
  }
}

.hero {
  position: relative;
  margin: 170px 50px 0;
}

@media (max-width: 925px) {
  .hero {
    margin: 190px 20px 0;
    background: none;
    background-size: cover;
  }
}

.hero__text {
  margin: 0 auto 90px auto;
  color: inherit;
  text-align: center;
  max-width: 950px;
  width: 95%;
}

@media (max-width: 925px) {
  .hero__text {
    max-width: 550px;
    width: 100%;
    text-align: center;
    margin: 0 auto 75px auto;
  }
}

.hero__heading {
  font-size: 4.4rem;
  font-weight: 900;
  margin-bottom: 30px;
  line-height: 1.5;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-animation: 0.5s enterUp ease-in-out forwards;
          animation: 0.5s enterUp ease-in-out forwards;
}

@media (max-width: 925px) {
  .hero__heading {
    font-size: 35px;
    margin-bottom: 35px;
  }
}

.hero__sub-heading {
  font-size: 2.8rem;
  line-height: 1.4;
  font-family: 'Roboto';
  width: 65%;
  margin: 0 auto 25px auto;
  font-family: 'Lato';
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-animation: 0.5s enterUp 0.05s ease-in-out forwards;
          animation: 0.5s enterUp 0.05s ease-in-out forwards;
  font-weight: normal;
}

@media (max-width: 925px) {
  .hero__sub-heading {
    margin: 15px auto;
    width: 85%;
  }
}

.hero__illustration {
  position: relative;
  max-width: 585px;
  min-height: 250px;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: -4px;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-animation: 0.5s enterUp 0.1s ease-in-out forwards;
          animation: 0.5s enterUp 0.1s ease-in-out forwards;
}

@media (max-width: 925px) {
  .hero__illustration {
    min-height: 0;
    margin-bottom: -1px;
  }
}

.hero__blob {
  position: absolute;
  bottom: -75px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  max-width: 525px;
  width: 100%;
  opacity: 0;
  -webkit-animation: 0.5s fadeIn 0.1s ease-in-out forwards;
          animation: 0.5s fadeIn 0.1s ease-in-out forwards;
}

.purple {
  color: #8e44ad;
}

.squiggle {
  position: relative;
}

.squiggle:after {
  content: '';
  background-image: url("/images/squiggle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 20px;
  width: 100%;
  display: block;
  bottom: -18px;
  left: 0;
}

@-webkit-keyframes enterUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes enterUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  display: block;
}

.main section {
  padding: 120px 90px 0;
}

@media (max-width: 925px) {
  .main section {
    padding: 90px 35px 0;
  }
}

.main section:last-child {
  padding-bottom: 120px;
}

@media (max-width: 925px) {
  .main section:last-child {
    padding-bottom: 0;
  }
}

.main__heading {
  font-size: 2.8rem;
  margin-bottom: 90px !important;
  font-weight: bold;
}

@media (max-width: 925px) {
  .main__heading {
    margin-bottom: 50px !important;
  }
}

.main__para {
  font-size: 2em;
  line-height: 1.4;
  font-family: 'Roboto';
}

@media (max-width: 925px) {
  .main__para {
    padding: 5px 0;
  }
}

.technologies {
  background: -webkit-gradient(linear, left top, right bottom, from(#c77ae6), to(#8e44ad));
  background: -webkit-linear-gradient(top left, #c77ae6, #8e44ad);
  background: -o-linear-gradient(top left, #c77ae6, #8e44ad);
  background: linear-gradient(to bottom right, #c77ae6, #8e44ad);
  color: #fff;
  text-align: center;
  padding: 90px;
  position: relative;
}

@media (max-width: 925px) {
  .technologies {
    padding: 50px 25px;
  }
}

.technologies__heading {
  font-size: 28px;
  opacity: 0.9;
  color: #fff;
}

.technologies__icon-wrapper {
  position: relative;
}

.technologies__icon-wrapper:hover span {
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.technologies__icon-wrapper span {
  display: block;
  font-size: 1.3rem;
  padding: 3px;
  margin-top: 8px;
  background: #eee;
  color: #8e44ad;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -3px);
      -ms-transform: translate(-50%, -3px);
          transform: translate(-50%, -3px);
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.technologies__icon-wrapper span:after {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #eee;
  border-left: 5px solid transparent;
}

@media (max-width: 925px) {
  .technologies__icon-wrapper span {
    opacity: 0;
  }
}

.technologies__icons {
  margin: 75px auto 0;
  max-width: 900px;
  width: 100%;
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 925px) {
  .technologies__icons {
    margin: 50px 0 0;
  }
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 925px) {
  .services__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.service {
  text-align: center;
  width: 30%;
  background: #fff;
  padding: 25px;
  border: 1px solid #dedede;
  border-radius: 5px;
}

@media (max-width: 925px) {
  .service {
    max-width: 500px;
    width: 100%;
    margin: 0 auto 50px;
  }
}

.service:last-child {
  margin-bottom: 0;
}

.service__heading {
  font-size: 2.2rem;
  margin: 15px;
  font-weight: bold;
}

.service p {
  font-size: 2rem;
  line-height: 1.4;
  font-family: 'Roboto';
}

.footer {
  text-align: center;
  position: relative;
}

@media (max-width: 925px) {
  .footer {
    margin-top: 90px;
  }
}

.footer__bg {
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(#c77ae6), to(#8e44ad));
  background: -webkit-linear-gradient(top left, #c77ae6, #8e44ad);
  background: -o-linear-gradient(top left, #c77ae6, #8e44ad);
  background: linear-gradient(to bottom right, #c77ae6, #8e44ad);
  -webkit-clip-path: polygon(0 0, 100% 150px, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 150px, 100% 100%, 0 100%);
  z-index: -1;
}

.footer__text-wrapper {
  background: #fff;
  padding: 75px;
  max-width: calc(1500px - 180px);
  margin: 0 auto;
  -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
}

@media (max-width: 925px) {
  .footer__text-wrapper {
    padding: 50px 20px 90px 20px;
  }
}

.footer__heading {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.footer__para {
  font-size: 2.2em;
  line-height: 1.4;
  font-family: 'Roboto';
  margin: 0 auto 50px auto;
  width: 65%;
  text-align: center;
  font-family: 'Lato';
}

@media (max-width: 925px) {
  .footer__para {
    width: 90%;
  }
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px auto 0 auto;
  padding: 10px 0;
  max-width: 500px;
}

.footer__icon {
  font-size: 2.7em;
  padding: 15px;
  color: #eee;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.footer__icon:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.footer__btn {
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer a:last-child .footer__icon {
  margin-right: 0;
}

.footer__attribution {
  color: #fff;
  opacity: 0.5;
  padding: 10px;
  line-height: 2;
  font-family: 'Roboto';
}

.footer__attribution a {
  color: inherit;
  border-bottom: 1px dotted #fff;
}

.footer .container {
  padding: 0 90px;
}

@media (max-width: 925px) {
  .footer .container {
    padding: 0;
    width: 95%;
  }
}

.honorable {
  padding: 45px;
  border: 1px solid #dedede;
  background: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 925px) {
  .honorable {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 45px 25px;
  }
}

.honorable h1 {
  color: #8e44ad;
  font-weight: bold;
  font-size: 1.8rem;
}

@media (max-width: 925px) {
  .honorable h1 {
    margin-bottom: 15px;
  }
}

.honorable a {
  font-size: 1.5rem;
  font-family: 'Roboto';
  color: inherit;
}

@media (max-width: 925px) {
  .honorable a {
    margin: 25px 0;
  }
  .honorable a:last-child {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */