.about {
  color: #fff;
  text-align: center;
  padding: $padding-lg;
  position: relative;

  @include tablet() {
    padding: 65px 25px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 100%;
    background: url('/images/Curve.svg'),
      linear-gradient(to bottom right, $purple-light, $purple-dark);
    z-index: -1;
    background-size: 102%;
    background-position: 0 101%;
    background-repeat: no-repeat;

    @include bigassScreen() {
      height: 235%;
    }

    @include mobile() {
      height: 155%;
    }
  }

  &__dots {
    margin-top: 20px;
  }

  p {
    font-size: 2rem;
    line-height: 1.5;
    max-width: 750px;
    margin: 0 auto;
    font-family: 'Roboto';

    strong {
      font-weight: 500;
    }
  }
}
