.form {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &-group {
    flex: 1 1 45%;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;

    @include tablet() {
      flex: 1 1 100%;
    }
  }

  %label {
    position: absolute;
    font-size: 1.6rem;
    transition: all 0.3s;
    color: #6d6d6d;
  }

  input + label {
    @extend %label;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  textarea + label {
    @extend %label;
    left: 30px;
    top: 55px;
  }

  input:focus + label,
  input.notEmpty + label,
  textarea:focus + label,
  textarea.notEmpty + label {
    font-size: 1.3rem;
    transform: translate(-10px, -50px);
    color: $purple-dark;
    font-weight: bold;
  }

  input,
  textarea {
    font-family: $secondary;
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 2rem;
    margin: 25px 5px;
    border: none;
    border-bottom: 2px solid #eee;
    outline: none;
    color: inherit;

    @include tablet() {
      margin: 15px 5px;
    }
  }

  input:focus,
  textarea:focus {
    border-bottom: 2px solid $purple-dark;
  }

  textarea {
    height: 150px;
    resize: none;
    flex-basis: 100%;
  }

  .button {
    margin-bottom: 0;
  }
}

.msg {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.85);
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
}

.msg .far {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.error {
  background: $pink;
}

.success {
  background: $purple-dark;
}
