.honorable {
  padding: 45px;
  background: $purple-dark;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include mobile() {
    flex-direction: column;
    padding: 45px 25px;
  }

  &__heading {
    font-weight: 500;
    font-size: 1.6rem;

    @include mobile() {
      margin-bottom: 15px;
    }
  }

  &__link {
    font-size: 1.5rem;
    font-family: 'Roboto';
    color: inherit;
    font-weight: 300;

    @include mobile() {
      margin: 25px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
