.services {
  padding-top: 0 !important;

  h2 {
    color: #fff;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include tablet() {
      flex-direction: column;
    }
  }
}

.service {
  text-align: center;
  width: 30%;
  background: #fff;
  padding: 35px;
  border: 1px solid #dedede;
  border-radius: 5px;

  @include tablet() {
    max-width: 500px;
    width: 100%;
    margin: 0 auto 50px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 110px;
    width: 75%;
  }

  &__heading {
    font-size: 2.1rem;
    margin: 15px;
    font-weight: bold;
    font-family: $secondary;
  }

  p {
    @include para(2rem);
  }
}
