@mixin para($size) {
  font-size: $size;
  line-height: 1.6;
  font-family: 'Roboto';
}

@mixin bigassScreen() {
  @media (min-width: 1500px) {
    @content;
  }
}

@mixin tablet() {
  @media (max-width: 925px) {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: 550px) {
    @content;
  }
}
