// Colors
$purple-light: #cc83e9;
$purple-dark: #8e44ad;
$pink: #ff637c;
$lightgray: #333;
$darkgray: #222;

// Fonts
$primary: 'Poppins', sans-serif;
$secondary: 'Roboto', sans-serif;
$tertiary: 'Lato', sans-serif;

// Margin and Padding
$padding-sm: 20px;
$padding-md: 50px;
$padding-lg: 90px;
$padding-xl: 120px;
