// Colors
$purple-light: #cc83e9;
$purple-dark: #8e44ad;
$blue: #2980b9;
$pink: #ff637c;
// $text-color: #4b4453;
$text-color: rgb(68, 41, 70);

// Fonts
$primary: 'Poppins', sans-serif;
$secondary: 'Roboto', sans-serif;
$tertiary: 'Lato', sans-serif;

// Margin and Padding
$padding-sm: 20px;
$padding-md: 70px;
$padding-lg: 90px;
$padding-xl: 120px;
