html {
  margin: 0 auto;
  font-size: 62.5%;
}

body {
  font-family: $main;
  background: #f9f9f9;
  color: #333;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: normal;
  color: #555;
}

p {
  padding: 5px;
}

a {
  text-decoration: none;
}

button {
  font-weight: bold;
}

.center {
  margin: 0 auto !important;
  flex-basis: auto !important;
  max-width: 600px !important;
  width: 95%;
  text-align: center;
}

.form-group {
  display: flex;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}
