// Colors
$purple: #817bd8;
$purple2: #575988;
$redorange: #ec7580;
$lightgray: #a0a0a0;
$lightgray2: #999;
$lightgray3: #717171;
$darkgray: #555;

// Fonts
$fancy: 'Grand Hotel';
$main: 'Quicksand';
$secondary: 'Lato';

// Margin and Padding
$padding-sm: 20px;
$padding-md: 50px;
$padding-lg: 90px;
