// Colors
$purple: #817bd8;
$purple2: #575988;
$redorange: #ec7580;
$lightgray: #6d6d6d;
$darkgray: #555;

// Fonts
$fancy: 'Grand Hotel';
$main: 'Quicksand';
$secondary: 'Lato';

// Margin and Padding
$padding-sm: 20px;
$padding-md: 50px;
$padding-lg: 90px;
$padding-xl: 120px;
