// Colors
$purple-light: #c77ae6;
$purple-dark: #8e44ad;
$redorange: #ec7580;
$lightgray: #333;
$darkgray: #222;

// Fonts
$fancy: 'Grand Hotel';
$main: 'Quicksand';
$secondary: 'Lato';

// Margin and Padding
$padding-sm: 20px;
$padding-md: 50px;
$padding-lg: 90px;
$padding-xl: 120px;
