.project {
  display: flex;
  flex-direction: row;
  margin-top: $padding-lg;

  &__text {
    padding: 0 0 0 50px !important;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  span {
    display: inline-block;
    background: #dedede;
    color: #333;
    padding: 2px 5px;
    border-radius: 50px;
    margin: 2px;
    font-size: 0.75rem;
  }

  h3 {
    font-size: 1.6rem;
    display: inline-block;
    margin-right: 10px;
  }

  p {
    font-size: 1.1rem;
    padding: 5px 0;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  figure {
    flex: 0 0 400px;
  }

  img {
    width: 100%;
    height: auto;
  }

  &__btns {
    a {
      color: $lightgray;
    }

    button {
      background: none;
      border: none;
      border-bottom: 1px dotted $lightgray;
      padding: 5px 3px;
      margin: 15px 15px 0 0;
      cursor: pointer;
      font-size: 1rem;
      color: $lightgray;
    }
  }
}
