.footer {
  text-align: center;
  position: relative;

  @include mobile() {
    margin-top: $padding-lg;
  }

  &__bg {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom right, $purple-light, $purple-dark);
    z-index: -1;
  }

  &__text-wrapper {
    background: #fff;
    border: 1px solid #dedede;
    padding: 75px;
    max-width: calc(1500px - 180px);
    margin: 0 auto;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    position: relative;

    @include mobile {
      padding: $padding-md $padding-sm $padding-lg $padding-sm;
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: $padding-sm;
  }

  &__para {
    @include para(2em);
    margin: 0 auto 50px auto;
    max-width: 650px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto';
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    margin: $padding-md auto 0 auto;
    padding: 10px 0;
    max-width: 500px;
  }

  &__icon {
    font-size: 2.7em;
    padding: 15px;
    color: #eee;
    transition: all 0.2s;
    backface-visibility: hidden;

    &:hover {
      transform: scale(1.3);
    }
  }

  &__btn {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }

  a:last-child .footer__icon {
    margin-right: 0;
  }

  &__attribution {
    color: #fff;
    opacity: 0.5;
    padding: 10px;
    line-height: 2;
    font-family: 'Roboto';

    a {
      color: inherit;
      border-bottom: 1px dotted #fff;
    }
  }

  .container {
    padding: 0 90px;

    @include mobile() {
      padding: 0;
      width: 95%;
    }
  }
}
