$enterUpTranslate: 50px;
$enterUpOpacity: 0;

.hero {
  position: relative;
  margin: 170px $padding-md 0;

  @include mobile() {
    margin: 190px $padding-sm 0;
    background: none;
    background-size: cover;
  }

  &__text {
    margin: 0 auto 90px auto;
    color: inherit;
    text-align: center;
    max-width: 950px;
    width: 95%;

    @include mobile() {
      max-width: 550px;
      width: 100%;
      text-align: center;
      margin: 0 auto 75px auto;
    }
  }

  &__heading {
    font-size: 4.4rem;
    font-weight: 900;
    margin-bottom: 30px;
    line-height: 1.5;
    transform: translateY($enterUpTranslate);
    opacity: $enterUpOpacity;
    animation: 0.5s enterUp ease-in-out forwards;

    @include mobile() {
      font-size: 35px;
      margin-bottom: 35px;
    }
  }

  &__sub-heading {
    @include para(2.8rem);
    width: 65%;
    margin: 0 auto 25px auto;
    font-family: 'Lato';
    transform: translateY($enterUpTranslate);
    opacity: $enterUpOpacity;
    animation: 0.5s enterUp 0.05s ease-in-out forwards;
    font-weight: normal;

    @include mobile {
      margin: 15px auto;
      width: 85%;
    }
  }

  &__illustration {
    position: relative;
    max-width: 585px;
    // min-height: 250px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: -1px;
    transform: translateY($enterUpTranslate);
    opacity: $enterUpOpacity;
    animation: 0.5s enterUp 0.1s ease-in-out forwards;

    @include mobile() {
      min-height: 0;
      margin-bottom: -1px;
    }
  }

  &__blob {
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    max-width: 525px;
    width: 100%;
    opacity: 0;
    animation: 0.5s fadeIn 0.1s ease-in-out forwards;
  }
}

.purple {
  color: $purple-dark;
}

.squiggle {
  position: relative;
}

.squiggle:after {
  content: '';
  background-image: url('/images/squiggle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 20px;
  width: 100%;
  display: block;
  bottom: -18px;
  left: 0;
}

@keyframes enterUp {
  0% {
    opacity: $enterUpOpacity;
    transform: translateY($enterUpTranslate);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
