.hero {
  margin: $padding-md $padding-md 100px;
  color: #555;

  @include mobile() {
    margin: $padding-lg $padding-sm;
    background: none;
    background-size: cover;
  }

  &__text {
    margin: 0 auto;
    color: inherit;
    text-align: center;
    max-width: 950px;
    width: 95%;

    @include mobile() {
      max-width: 550px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }

  &__heading {
    font-size: 4.5rem;
    font-weight: bold;

    @include mobile {
      font-size: 3.7rem;
    }
  }

  &__sub-heading {
    @include para(2.8em);
    width: 65%;
    margin: 15px auto 45px auto;
    font-family: 'Lato';

    @include mobile {
      margin: 0 auto 25px auto;
      width: 95%;
    }
  }

  &__button {
    display: inline-block;
    margin: 15px 0;
    color: #eee;
    font-weight: bold;
  }
}

.fancy {
  color: $purple;
  font-family: $fancy;
  font-size: 1.2em;
  font-weight: normal;
}

#br {
  @include mobile() {
    display: none;
  }
}
