.main {
  display: block;
  margin: 0 $padding-md 150px;

  @include mobile() {
    margin: 5px 5px $padding-md;
  }

  article {
    display: flex;
    align-items: center;
    margin-bottom: 150px;

    &:last-of-type {
      @include mobile {
        margin-bottom: $padding-lg;
      }
    }

    @include mobile {
      flex-direction: column;
      margin: 0 auto $padding-md auto;
      max-width: 550px;
    }
  }

  section:last-child {
    margin-bottom: 0;
  }

  // Side images
  &__img {
    flex-basis: 50%;

    @include mobile {
      margin-bottom: $padding-sm + 5;
    }

    &:nth-child(2) {
      margin-left: auto;
    }

    img {
      display: block;
      width: 100%;
      position: relative;
    }
  }

  // Text
  &__textblock {
    flex-basis: 50%;

    @include mobile() {
      order: 1;
    }
  }

  &__heading {
    font-size: 2rem;
    color: $darkgray;
    margin-bottom: $padding-sm;
    font-weight: bold;

    @include mobile {
      font-size: 1.5rem;
    }
  }

  &__para {
    @include para(2em);

    @include mobile() {
      padding: 5px 0;
    }
  }
}
