.main {
  display: block;
  margin: $padding-lg $padding-lg 125px $padding-lg;

  @include mobile() {
    margin: $padding-lg 35px;
  }

  &__heading {
    font-size: 2rem;
    color: $darkgray;
    margin-bottom: $padding-sm;
    font-weight: bold;

    @include mobile {
      font-size: 1.5rem;
    }
  }

  &__para {
    @include para(2em);

    @include mobile() {
      padding: 5px 0;
    }
  }
}
