.main {
  display: block;

  section {
    padding: $padding-xl $padding-lg 0;

    @include mobile() {
      padding: $padding-lg 35px 0;
    }

    &:last-child {
      padding-bottom: $padding-xl;

      @include mobile() {
        padding-bottom: 0;
      }
    }
  }

  &__heading {
    font-size: 2.8rem;
    margin-bottom: $padding-lg !important;
    font-weight: bold;

    @include mobile() {
      margin-bottom: $padding-md !important;
    }
  }

  &__para {
    @include para(2em);

    @include mobile() {
      padding: 5px 0;
    }
  }
}
