.navbar {
  font-size: 1.6rem;
  padding: $padding-md;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  transition: all 0.2s;
  font-weight: bold;

  .container {
    display: flex;
    align-items: center;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  @include mobile {
    padding: 25px;
    background: #f9f9f9;
    margin-bottom: $padding-md;
    font-size: 1.8rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px -10px;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
  }

  li,
  span {
    font-weight: 600;
    display: inline-block;
  }

  &__logo {
    margin-right: auto;
    height: 35px;
    display: flex;
    align-items: center;

    @include mobile() {
      display: block;
      margin: 0 0 $padding-sm 0;
      height: 40px;
    }

    img {
      height: 30px;
      margin-right: 5px;

      @include mobile() {
        height: 100%;
        margin-right: 0;
      }
    }

    p {
      font-size: 1.6rem;
      font-family: 'Quicksand';
      color: $purple-dark;

      @include mobile() {
        display: none;
      }
    }
  }

  &__link {
    margin-right: 35px;
    position: relative;
    transition: width 0.05s;

    a {
      text-decoration: none;
      color: inherit;
    }

    &:last-child {
      margin: 0;
    }

    @media (hover: hover) {
      &:hover:not(.contact) {
        &:after {
          width: 100%;
          background: $purple-dark;
        }

        a {
          color: $purple-dark;
        }
      }
    }

    &:after {
      position: absolute;
      content: '';
      bottom: -5px;
      left: 0;
      height: 2px;
      background: $purple-dark;
      transition: all 0.2s;
      width: 0;
      backface-visibility: hidden;
    }

    @include mobile() {
      color: $lightgray;
    }
  }

  // TODO: Move this over to button styles
  &__contact {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 10px 20px;
    border-radius: 50px;
    color: $purple-dark !important;
    border: 2px solid $purple-dark;
    background: linear-gradient(45deg, $purple-dark 50%, transparent 50%);
    background-size: 300%;
    background-position: 100%;
    transition: background-position 0.5s;

    @include mobile() {
      padding: 0;
      color: #555 !important;
      border: none;
    }

    @media (hover: hover) {
      &:hover {
        color: #fff !important;
        background-position: 0;
      }
    }
  }
}
