.projects {
  h2 {
    font-size: 2.8rem;
    margin-bottom: $padding-md !important;
  }
}

.project {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: $padding-lg;

  @include mobile() {
    flex-direction: column;
    margin: 0 auto $padding-lg auto;
    text-align: center;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__title-wrapper {
    flex: 0 0 20%;
    text-align: right;

    @include mobile() {
      margin: 0 auto 10px auto;
      display: flex;
    }
  }

  &__text {
    margin: 0 0 0 50px;

    @include mobile() {
      margin: 0;
    }
  }

  &__title {
    font-size: 2.4rem;
    margin-bottom: 10px;

    @include mobile() {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0;
    }
  }

  span {
    display: inline-block;
    background: #dedede;
    color: #333;
    padding: 2px 5px;
    border-radius: 50px;
    margin: 2px;
    font-size: 1.4rem;
  }

  p {
    @include para(2.2rem);
    font-family: 'Lato';
    padding: 0;
    margin: 0 0 15px 0;
    width: 100%;
  }

  &__btns {
    button {
      margin: 15px 5px 0 0;
      font-size: 1.4rem;
    }
  }
}
