.technologies {
  background: linear-gradient(to bottom right, $purple, darken($purple, 10%));
  color: #f3f3f3;
  text-align: center;
  padding: $padding-lg;
  position: relative;

  @include mobile() {
    padding: 50px 25px;
  }

  &__heading {
    font-size: 28px;
    opacity: 0.75;
    color: #fff;
  }

  &__icon-wrapper {
    position: relative;

    &:hover {
      h4 {
        opacity: 1;
      }
    }

    h4 {
      font-size: 1.3rem;
      padding: 3px;
      margin-top: 8px;
      background: #eee;
      color: $purple;
      border-radius: 3px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: all 0.2s;
      backface-visibility: hidden;

      &:after {
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-top: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #eee;
        border-left: 5px solid transparent;
      }

      @include mobile() {
        opacity: 0;
      }
    }
  }

  &__icons {
    margin: 75px auto 0;
    max-width: 900px;
    width: 100%;
    font-size: 35px;
    display: flex;
    justify-content: space-between;

    @include mobile() {
      margin: 50px 0 0;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: 10px solid #f8f8f8;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}
