.technologies {
  background: linear-gradient(to bottom right, $purple-light, $purple-dark);
  color: #fff;
  text-align: center;
  padding: $padding-lg;
  position: relative;

  @include mobile() {
    padding: 65px 25px;
  }

  &__heading {
    font-size: 28px;
    opacity: 0.9;
    color: #fff;
    margin-bottom: $padding-sm;
  }

  p {
    font-size: 2rem;
    line-height: 1.5;
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Lato';
    font-weight: 400;
  }

  &__icon-wrapper {
    position: relative;
    font-size: 30px;

    @include mobile() {
      font-size: 25px;
    }

    &:hover {
      span {
        opacity: 1;
        transform: translate(-50%, 0);
      }
    }

    span {
      display: block;
      font-size: 1.3rem;
      padding: 3px;
      margin-top: 8px;
      background: #eee;
      color: $purple-dark;
      border-radius: 3px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -3px);
      opacity: 0;
      transition: all 0.2s;
      backface-visibility: hidden;

      &:after {
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-top: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #eee;
        border-left: 5px solid transparent;
      }

      @include mobile() {
        opacity: 0;
      }
    }
  }

  &__icons {
    margin: 75px auto 0;
    max-width: 900px;
    width: 100%;
    font-size: 35px;
    display: flex;
    justify-content: space-between;

    @include mobile() {
      margin: 50px 0 0;
    }
  }
}
