body {
  font-family: $main;
  color: #333;
  font-size: 65.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin-bottom: 7px;
}

p {
  padding: 5px;
}

.fancy {
  color: $purple;
  font-family: $fancy;
  font-size: 60px;
}

.arrow {
  position: relative;
  left: 115px;
  top: -30px;
}
