html {
  max-width: 1500px;
  margin: 0 auto;
}

body {
  font-family: $main;
  background: #f9f9f9;
  color: #333;
  font-size: 9px;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin-bottom: 7px;
}

p {
  padding: 5px;
}

a {
  text-decoration: none;
}

.center {
  margin: 0 auto !important;
  flex-basis: auto !important;
  max-width: 600px !important;
  width: 95%;
  text-align: center;
}

.fancy {
  color: $purple;
  font-family: $fancy;
  font-size: 3.2rem;
  font-weight: normal;
}

.arrow {
  display: block;
  position: absolute;
  margin-top: 25px;
  left: 115px;
  height: 125px;
}

.padding {
  padding: 0 25px;
}

.negative-left {
  margin-left: -50px;
}

.form-group {
  display: flex;
}
