html {
  max-width: 1500px;
  margin: 0 auto;
}

body {
  font-family: $main;
  background: #f9f9f9;
  color: #333;
  font-size: 9px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin-bottom: 7px;
}

p {
  padding: 5px;
}

.center {
  margin: 0 auto !important;
  flex-basis: auto !important;
  max-width: 600px !important;
  width: 95%;
  text-align: center;
}

.fancy {
  color: $purple;
  font-family: $fancy;
  font-size: 60px;
}

.arrow {
  display: block;
  position: absolute;
  margin: 20px 0;
}

.separator {
  display: block;
  margin: 50px auto;
}
