// Colors
$purple: #6c63ff;
$redorange: #ec7580;
$lightgray: #a0a0a0;
$lightgray2: #999;

// Fonts
$fancy: 'Grand Hotel';
$main: 'Quicksand';

// Margin and Padding
$padding-sm: 25px;
$padding-md: 40px;
$padding-lg: 90px;
