.main {
  display: block;
  padding: 125px $padding-lg 0;

  section:not(.projects) {
    display: flex;
    align-items: center;
  }

  section {
    margin-bottom: 125px;
  }

  section:last-child {
    margin-bottom: 100px;
  }

  &__img {
    flex-basis: 50%;

    &:nth-child(2) {
      margin-left: auto;
    }

    img {
      display: block;
      width: 100%;
      position: relative;
    }
  }

  &__textblock {
    flex-basis: 50%;
  }

  &__heading {
    font-size: 4em;
    color: $darkgray;
    margin-bottom: $padding-sm;
    font-weight: bold;
  }

  &__para {
    font-size: 2em;
    line-height: 30px;
    color: $lightgray3;
  }
}

.projects {
  &__wrapper {
    margin-top: $padding-sm;
  }
}
